[View in Colaboratory](https://colab.research.google.com/github/gmihaila/snippets_py/blob/master/list_to_comma_separated.ipynb)

## Convert list to comma separated

In [7]:
# Stirngs mix
strings = ["I", "am", "a", "dog"]

print('_'.join(strings))


# integers mix
numbers = [1,2,3,4,5]

print(', '.join(map(str, numbers)))


# Both
data = [1,2,"cat", 3,5]
print(', '.join(map(str, data)))

I_am_a_dog
1, 2, 3, 4, 5
1, 2, cat, 3, 5